*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;


}

body{
	font-family: sans-serif,arial,helventica;
	display: inline-block;
	margin-right: 30px;
	margin-left: 30px;
	

} 

/*-----------------------menu-bar1------------------------------------------------------------------------------*/
.flex-wrapper{
	max-width: 1200px;
	margin: auto;
}

.menu-bar1{
	background:#ff1a8c;
	text-align: center;


}

.menu-bar1 ul{
	display: inline-flex;
	list-style: none;
	color:#ffffff ;
}

.menu-bar1 ul li{
	text-decoration: none;
	width:100px;
	margin: 0.5px;
	padding: 0.5px;
	border-right: 1px solid #ffffff;
	font-size: 19px;
}

.menu-bar1 ul li a{
	text-decoration: none;
	color: #ffffff;
}

.menu-bar1 ul li:hover {
    text-decoration: underline;
}

.active{
	background-color: #ff1a8c;
	cursor: pointer;
}

	

.navbar {
  overflow: hidden;
  background-color: #800080;
  display: flex;
  text-align: center;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: #800080;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #ff1a8c;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ff1a8c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #800080;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*-----------------------------------logo------------------------------------------------------------------*/
.first {
    display: flex;
    justify-content: space-between;
}

.imgn {
    max-width: 25%;
    top: 15%;
}

.scale-image {
    width: 100%;
    height: auto;
}

/*-----------------------------------title------------------------------------------------------------------*/

.ttle{
	position: absolute;
	left: 50%;
	top: 15%;
	transform: translate(-50%,-50%);
}

.ttle h5{
	color: #800080;
	font-size: 28px;
}

.ttle h5:hover {
    text-decoration: underline;
}

/*-----------------------------------search------------------------------------------------------------------*/
.main{
	position: absolute;
	top: 15%;
	left: 76%;
	right: 35%;
	transform: translate(-50%,-50%);
}


.butn{
	position: absolute;
	top: 15%;
	color: #800080;
	left: 92%;
	right: 18.5%;
	transform: translate(-50%,-50%);
}

input{
	border:3px solid #800080;
	height: 40px;
	width:200px;
	border-radius: 40px;
	padding:0px 10px; 
	transition: 0.4s;
}
/*-----------------------------------images------------------------------------------------------------------*/
.slider{
	overflow: hidden;
	height: 400px;
}

.slider figure div{
	float: left;
	width: 20%;
}

.slider figure img{
	width: 100%;
	float:left;
}
 .slider figure{
 	position: relative;
 	width: 500%;
 	margin:0px;
 	left: 0;
 	animation: 40s ieee infinite;
 }

 @keyframes ieee{
   0%{
   	left:0%;
   }

   10%{
   	left:0%;
   }

   12%{
   	left:-100%;
   }

   22%{
   	left:-100%;
   }

   24%{
   	left:-200%;
   }

   34%{
   	left:-200%;
   }
   36%{
   	left:-300%;
   }
   46%{
   	left:-300%;

   }
   48%{
   	left:-400%;

   }
   58%{
   	left:-400%;

   }
   60%{
   	left:-300%;

   }
   70%{
   	left:-300%;

   }
   72%{
   	left:-200%;

   }
   82%{
   	left:-200%;

   }
   84%{
   	left:-100%;

   }
   94%{
   	left:-100%;

   }
   96%{
   	left:0%;

   }

   99%{
   	left: 0%;
   }
 }
 /*anchor tag*/
a{
	text-decoration: none;
	color: #555;
}

/*paragraph of nav bar*/
p{
	color: #555;
}

/*for logo and nav bar equal space from right and left*/
.container{
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img{
	max-width: 100%; 
	padding:50px 0;
}

.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}

.btn{
	display: inline-block;
	background: #800080;
	color: #fff;
	padding: 8px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: background 0.5s; 
}

.btn:hover{
	background: #ff1a8c;
}

.col-4{
	flex-basis:25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img{
	width: 100%;
}

.title{
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after{
	content: '';
	background: #800080;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom:0;
	left: 50%;
	transform: translateX(-50%); 
}

h4{
	color: #555;
	font-weight: normal;
}

.col-4 p{
	font-size: 14px;
}

.rating .fa{
	color: #800080;
}

.col-4:hover{
	transform: translateY(-5px);/*pani effect*/
}


 /*........offer.....*/
.offer{
	background: radial-gradient(#fff,#ffd6d6); 
	margin-top: 80px;
	padding: 30px 0;

}

.col-2 .offer-img{
	padding:50px; 
}

small{
	color: #555;
}

.categories{
	margin: 70px 0;
}

.col-3{
	flex-basis: 30%;
	min-width:250px;
	margin-bottom: 30px;
}

.col-3 img{
	width: 100%
}

.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

/*--------testimonial---------*/
.row1{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s; 
    flex-basis: 30%;
    min-width:250px;
    margin-bottom: 30px;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: : 20px;
    border-radius: 50%;
}   

 .col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
 }

 .testimonial .col-3 h3{
    font-weight: 600;
    color: #800080;
    font-size: 16px;
 }

 .testimonial a{
    text-decoration: none;
	color: #800080;
 }

.testimonial .col-3:hover{
	transform: translateY(-10px);
}

.fa .fa-quote-left{
	font-size: 34px;
	color: #ff523b;
}


/*-------footer---------*/
.foot1{
padding-top: 100px;
}
.footer{
background: #800080;
font-size: 14px;
padding: 60px 0 20px;
}

.footer p{
	color: #ffff;
	background color:#800080; 
}

.footer-col-1{
	flex: 1;
	text-align: center;
}

.container{
	background: #800080;
}

.footer-col-1 img{
	width: 180px;
	margin-bottom: 20px;
	float: left;
}

.footer hr{
	border:none;
	background: #b5b5b5;
	height: 1px;
	margin:30px 0; 
}

.copyright{
	text-align: center;
}
.con{
		text-align: center;
}

.contact-title{
	margin-top: 20px;
	color: #800080;
	text-transform: uppercase;
	transition: all 4s ease-in-out;
}

.contact-title h1{
	font-size: 32px;
	line-height: 10px;
}

.contact-title h2{
	font-size: 16px;
}

form{
	margin-top: 50px;
	transition: all 4s ease-in-out;
}	

.form-control{
	width: 600px;
	background:transparent;
	border:none;
	outline: none;
	border-bottom: 1px solid gray;
	color: #fff;
	font-size: 18px;
	margin-bottom: 16px;
}

input{
	height: 45px;
}

form .submit{
	background:#800080;
	border-color: transparent;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	height: 50px;margin-top: 20px;
}

form .submit:hover{
	background-color: #ff1a8c;
	cursor: pointer;
}

/*--------all products page----*/

.row-2{
	justify-content: space-between;
	margin: 80px auto 50px;
}

select{
	border:1px solid #800080;
	padding:5px; 
}

select:focus{
	outline: none;
}

.page-btn{
	margin:0 auto 80px;
}

.page-btn span{
	display: inline-block;
	border:1px solid #800080;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover{
	background: #800080;
	color: #fff;
}

/*---single product details-----*/
.single-product{
   margin-top: 80px;
}

.single-product .col-2 img{
	padding: 0;
}

.single-product .col-2{
	padding: 20px;
}

.single-product h4{
	margin:20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product select{
	display: block;
	padding: 10px;
	margin-top: 20px;
}

.single-product input{
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border:1px solid #800080;
}

input:focus{
	outline: none;
}

.single-product .fa{
	color: #800080;
	margin-left: 10px;
}

.small-img-row{ /*---4 ota photo sangai rakhna---*/
	display: flex;
	justify-content: space-between;
}

.small-img-col{
	flex-basis: 24%;
	cursor: pointer;
}



/*media query for less than 600 screen size*/
@media only screen and (max-width:600px){
.row{
	text-align: center;
}

.col-2,.col-3,.col-4{
flex-basis: 100%
}
.single-product .row{
	text-align: left;
}
.single-product .col-2{
	padding: 20px;
}
.single-product h1{
	font-size: 26px;
	line-height: 22px;
}


body {
  background: #C5E1A5;
}
form {
  width: 60%;
  margin: 60px auto;
  background: #efefef;
  padding: 60px 120px 80px 120px;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
  box-shadow: 2px 2px 3px rgba(0,0,0,0.1);
}
label {
  display: block;
  position: relative;
  margin: 40px 0px;
}
.label-txt {
  position: absolute;
  top: -1.6em;
  padding: 10px;
  font-family: sans-serif;
  font-size: .8em;
  letter-spacing: 1px;
  color: rgb(120,120,120);
  transition: ease .3s;
}
.input {
  width: 100%;
  padding: 10px;
  background: transparent;
  border: none;
  outline: none;
}

.line-box {
  position: relative;
  width: 100%;
  height: 2px;
  background: #BCBCBC;
}

.line {
  position: absolute;
  width: 0%;
  height: 2px;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #8BC34A;
  transition: ease .6s;
}

.input:focus + .line-box .line {
  width: 100%;
}

.label-active {
  top: -3em;
}

button {
  display: inline-block;
  padding: 12px 24px;
  background: rgb(220,220,220);
  font-weight: bold;
  color: rgb(120,120,120);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  transition: ease .3s;
}

button:hover {
  background: #8BC34A;
  color: #ffffff;
}


